<div>
    <h1>{{task.title}}</h1>
</div>
<div>{{task.description}}</div>

<mat-list role="list">
    <mat-list-item role="listitem" *ngFor="let taskRecord of taskRecords">
        <div mat-line><b>{{taskRecord.completedAt | date}}</b></div>
        <!-- <div mat-line>{{taskRecord.fieldValues}}</div> -->
        <div mat-line
            *ngFor="let recipient of taskRecord.fieldValues | keyvalue">
            {{recipient.key}} --> {{recipient.value}}
        </div>
        <mat-divider></mat-divider>
    </mat-list-item>
</mat-list>