<div fxLayout="row" fxLayoutAlign="space-evenly center">
    <div fxFlex="70" fxFlex.sm="80" fxFlex.xs="90">
        <div>
            <h1>{{task.title}}</h1>
        </div>
        <div>{{task.description}}</div>

        <app-task-record-form [task]="task"
            (taskRecordEmitter)="newTaskRecordCreated($event)">
        </app-task-record-form>

        <mat-list role="list">
            <mat-list-item role="listitem"
                *ngFor="let taskRecord of taskRecords">
                <div mat-line>
                    <b>
                        {{taskRecord.completed_at | date:'MM/dd h:mm a'}}
                    </b>
                    <button mat-icon-button
                        (click)="deleteTaskRecord(taskRecord.id)">
                        <mat-icon>delete</mat-icon>
                    </button>
                </div>
                <div mat-line
                    *ngFor="let recipient of taskRecord.field_values | keyvalue">
                    {{recipient.key}}: {{recipient.value}}
                    <br />
                </div>
                <mat-divider></mat-divider>
            </mat-list-item>
        </mat-list>
    </div>
</div>