<div fxLayout="column" fxLayoutAlign="center center">
    <div fxFlex="50"></div>
    <div fxFlex="20">
        <h3>Sign in</h3>

        <form [formGroup]="form">
            <mat-form-field appearance="standard" class="fill">
                <mat-label>Username</mat-label>
                <input matInput #userName class="form-control"
                    formControlName="userName">
            </mat-form-field>
            <mat-error
                *ngIf="form.controls['userName'].hasError('required') && form.get('userName').touched ">
                Value is required.
            </mat-error>
            <mat-error *ngIf="form.controls['userName'].hasError('email')">
                Must be a valid email.
            </mat-error>

            <mat-form-field appearance="standard" class="fill">
                <mat-label>Password</mat-label>
                <input matInput #userPassword class="form-control"
                    formControlName="userPassword" type="password">
            </mat-form-field>
            <mat-error
                *ngIf="form.controls['userPassword'].hasError('required') && form.get('userPassword').touched ">
                Value is required.
            </mat-error>

            <button mat-stroked-button (click)="onSubmit()" class="form-button"
                color="primary" [disabled]="!form.valid || submitting">
                Sign in
            </button>
        </form>

        <br />
        <mat-divider></mat-divider>
        <br />

        <div>
            <button mat-stroked-button (click)="googleAuth()"
                class="form-button" color="accent">
                Sign in with Google
            </button>
            <button mat-stroked-button routerLink="/forgot-password"
                class="form-button">
                Forgot Password
            </button>
            <button mat-stroked-button routerLink="/sign-up"
                class="form-button">
                Sign up
            </button>
        </div>

    </div>
    <div fxFlex="50"></div>
</div>