<div *ngIf="submitting">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</div>
<form [formGroup]="taskRecordForm" autocomplete="off" novalidate
    fxLayout="column wrap" fxLayoutGap="10px">

    <mat-error id="error-form" *ngIf="formError">
        {{formError}}
    </mat-error>

    <mat-form-field mat-line *ngFor="let taskField of task.fields">
        <mat-label>{{taskField.description}}</mat-label>
        <input matInput [formControlName]="taskField.name"
            [type]="taskField.description" [required]="taskField.is_required">
        <mat-error *ngIf="taskRecordForm.get(taskField.name).hasError('number')">
            Not a number. Number is required.
        </mat-error>
    </mat-form-field>

    <button id="form-submit" (click)="onSubmit()" mat-flat-button
        color="primary" [disabled]="!taskRecordForm.valid || submitting">
        Add New Entry
    </button>
</form>