<div fxLayout="row" fxLayoutAlign="space-evenly center">
    <div fxFlex="70" fxFlex.sm="80" fxFlex.xs="90">
        <div class="center">
            <mat-form-field appearance="outline">
                <input matInput #pickerInput [matDatepicker]="picker"
                    [ngModel]="currDay" (dateInput)="onDateChange($event.value)"
                    (focus)="picker.open()" readonly>
            </mat-form-field>
            <mat-datepicker #picker (closed)="pickerInput.blur()">
            </mat-datepicker>
        </div>


        <mat-list role="list">
            <mat-list-item role="listitem" *ngFor="let task of activeTasks"
                [routerLink]="['/tasks/', task.id]"
                [queryParams]="{date: currDay | date: 'yyyy-MM-dd'}">

                <div mat-line><b>{{task.title}}</b></div>
                <div mat-line>{{task.description}}</div>

            </mat-list-item>
        </mat-list>
    </div>