<mat-toolbar color="primary">
    <button mat-icon-button>
        <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
    </button>
    <h1>Baby Tracker</h1>
</mat-toolbar>

<mat-sidenav-container>
    <mat-sidenav #sidenav class="sidenav">
        <div *ngIf="user$ | async as user">
            <button mat-button disabled>
                <img class="avatar" [src]="user.photoURL" alt="user avatar" />
                {{user.displayName}}
            </button>
        </div>


        <mat-nav-list>
            <div *ngIf="!(user$ | async)">
                <a mat-list-item (click)="sidenav.toggle()"
                    [routerLink]="'/sign-in'">Sign in</a>
            </div>

            <div *ngIf="user$ | async as user">
                <a mat-list-item (click)="logout()"
                    [routerLink]="'/sign-out'">Sign out</a>
                <a mat-list-item (click)="sidenav.toggle()"
                    [routerLink]="'/tasks'">Tasks</a>
                <a mat-list-item (click)="sidenav.toggle()"
                    [routerLink]="'/calendar'">Calendar</a>
            </div>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <div style="height: 88vh;">
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>